body {
  background-color: rgb(17, 0, 32);;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  background-image: url("./images/mill-falc.gif");
  background-size:  cover;
  background-repeat: no-repeat;
  background-position: top;
}
